{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <div class="container vh-75 text-center">
        {{ include("dashboard/customer.html.twig") }}
        <table class="table">
            <thead>
            <tr>
                <th scope="col">naam</th>
                <th scope="col">tijd</th>
                <th scope="col">datum</th>
                <th scope="col">locatie</th>
                <th> overzicht</th>


            </tr>
            </thead>
            {% for lesson in lessons %}
                <tbody>
                <tr>
                    <td>{{ lesson.training.name }}</td>
                    <td>{{ lesson.time | date('H:i') }}</td>
                    <td>{{ lesson.date |date('d-m-Y') }}</td>
                    <td>{{ lesson.location }}</td>
                    {% if myLessons is defined %}
                    <td><a href="{{ path('customer_delete_lesson', {id: lesson.id}) }}" class="btn btn-danger btn-sm">uitschrijven</a></td>
                    {% else %}
                    <td><a href="{{ path('customer_registration', {id: lesson.id}) }}" class="btn btn-primary btn-sm">aanmelden</a></td>
                    {% endif%}
                </tr>
                </tbody>
            {% endfor %}
        </table>

    </div>
{% endblock %}
